html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

* {
    box-sizing: border-box;
}

/* Loader */
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 26%;
    transform: translateY(-50%);
    right: 34px;
    font-size: .8rem;
    color: #fff;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 10px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}

/* Loader for send request */
.request-loader {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    font-size: .8rem;
    color: rgb(33, 115, 221);
}

.request-loader:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 10px solid rgb(33, 115, 221);
    border-color: rgb(33, 115, 221) transparent rgb(33, 115, 221) transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}

/**********************
    SPEACIAL
***********************/
.add-user {
    color: rgb(33, 115, 221);
    font-size: 1rem;
    transition: transform 300ms ease-in-out;
}

.friend {
    color: rgb(59, 252, 69);
    font-size: 1rem;
    transition: transform 300ms ease-in-out;
}

.request {
    color: rgb(235, 70, 59);
    font-size: 1rem;
    transition: transform 300ms ease-in-out;
}


.add-user:hover {
    transform: scale(1.6);
}

.bell {
    margin-left: 6px;
    color: rgb(240, 52, 46);
}

.accept-notify:hover {
    background-color: rgb(238, 90, 85);
}

.accept-notify {
    cursor : pointer;
}

.k {
    color: rgb(43, 226, 68);

}