html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

* {
    box-sizing: border-box;
}

/* Loader */
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 34%;
    transform: translateY(-50%);
    right: 36px;
    font-size: 1rem;
    color: #4F98CA;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 10px solid #4F98CA;
    border-color: #4F98CA transparent #4F98CA transparent;
    animation: lds-hourglass 1.2s infinite;
}

/* Loader for send request */
.request-loader {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    font-size: .8rem;
    color: rgb(33, 115, 221);
}

.request-loader:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 10px solid rgb(33, 115, 221);
    border-color: rgb(33, 115, 221) transparent rgb(33, 115, 221) transparent;
    animation: lds-hourglass 1.2s infinite;
}


@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}

/**********************
    SPEACIAL
***********************/
.add-user {
    color: rgb(33, 115, 221);
    font-size: 1rem;
    transition: transform 300ms ease-in-out;
}

.friend {
    color: rgb(59, 252, 69);
    font-size: 1rem;
    transition: transform 300ms ease-in-out;
}

.request {
    color: rgb(235, 70, 59);
    font-size: 1rem;
}


.add-user:hover {
    transform: scale(1.6);
}

.bell {
    margin-left: 6px;
    color: #dedef9;
}

.accept-notify:hover {
    background-color: rgb(238, 90, 85);
}

.accept-notify {
    cursor: pointer;
}

.edit-group {
    font-size: inherit;
    transition: transform 300ms ease-in-out;
}

.edit-group:hover {
    transform: scale(1.6);
}

.k {
    color: rgb(43, 226, 68);

}

/* ********************
        MAIN LOADER
******************** */
.main-loader {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #000;
}

.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #000;
}

.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #000;
}

.popover-friend {
    padding: 1rem;
    border-radius: 10px;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

/********************
    Scroll bar
********************/
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}