aioredis==1.3.1
asgiref==3.8.1
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.2.1
Automat==0.8.0
certifi==2024.12.14
cffi==1.17.1
channels==4.2.0
channels-redis==2.4.1
chardet==3.0.4
constantly==15.1.0
cryptography==42.0.8
daphne==2.4.1
defusedxml==0.6.0
dj-database-url==2.3.0
Django==4.2
django-braces==1.14.0
django-debug-toolbar==2.2
django-oauth-toolkit==3.0.0
django-rest-framework-social-oauth2==1.2.0
django-rest-knox==5.0.0
django-rest-passwordreset==1.5.0
django-sslserver==0.22
djangorestframework==3.15.0
hiredis==1.0.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
jwcrypto==1.5.6
msgpack==0.6.2
oauthlib==3.2.2
psycopg2==2.9.10
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyHamcrest==2.0.0
PyJWT==2.10.1
pyOpenSSL==24.0.0
python-decouple==3.3
python-dotenv==1.0.1
python3-openid==3.1.0
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
service-identity==18.1.0
six==1.14.0
social-auth-app-django==5.0.0
social-auth-core==4.5.4
sqlparse==0.5.3
Twisted==19.10.0
txaio==20.1.1
typing_extensions==4.12.2
urllib3==1.25.8
zope.interface==5.0.0
