/* Colors : */
.color {
    color: #4C2FC9;
    color: #AEAFE8;
    color: #9056D4;
    color: #DD6589;
    color: #8A4966;
    color: #B3B2C0;

    color: #BEB9C5;
    color: #6D6A72;
    color: #7C7982;
    color: #1A181A;
    color: #8B72A6;
    color: #F2F1F4;

}