<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        a{
            cursor : pointer;
            color : blue;
        }
    </style>
</head>
    <body>
        Hello <strong>{{ username }}</strong>,
        You sent a request to change your account password
        click <a href="http://127.0.0.1:8000/#/reset_confirm?token={{token}}"> HERE </a> to change your account password
        ---> 
    </body>
</html>