body {
    overflow: hidden;
}

.facebook-css {
    margin: 15px 0px;
    padding: 0.5rem;
    text-align: left;
    font-size: 22px;
    background-color: transparent;
    color: #1A181A;
    border: none;
    cursor: pointer;
    transition : transform 250ms ease-in-out;
}

.facebook-css:hover {
    transform : scale(1.2);
}

.google-css {
    margin: 15px 0px;
    padding: 0.5rem;
    text-align: left;
    font-size: 22px;
    background-color: transparent;
    color: #1A181A;
    border: none;
    cursor: pointer;
    transition : transform 250ms ease-in-out;
}

.google-css:hover{
    transform : scale(1.2);
}

body {
    margin: 0px;
}

.container {
    width : 100vw;
    height : 100vh;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    display : flex;
    justify-content : center;
    align-items : center;
}

.fa-facebook {
    margin: 0px 6px;
}

.line {
    width: 0px;
    height: 2px;
    background-color: #7C7982;
    margin-top : 5px;
    transition : width 300ms ease-in-out;
}

.forget{
    text-decoration: none;
    color : #BEB9C5;
    letter-spacing: 1px;
}

.react-datepicker-wrapper{
    width : 100%;
}


.react-datepicker-wrapper input{
    box-sizing: border-box;
    width: 100%;
    padding: 4px 9px;
    font-size: 1rem;
}

.progresser {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}